<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Controle do quadro de horário acadêmico</title>
</head>
<body>
	
	<h1>Engenharia de Software</h1><br>
	
	<a href="/cadastrarEstudantes">Cadastrar estudantes<a/> <br>
	<a href="/cadastrarProfessores">Cadastrar professores<a/> <br>
	<a href="/cadastrarDisciplinas">Cadastrar disciplinas e matricular estudantes<a/> <br>	
	<a href="/listaProfessores">Listar professores e horários<a/> <br>
	<a href="/listaEstudantes">Listar estudantes e horários<a/> <br>
	<a href="/listaDisciplinas">Emitir diário da disciplina<a/>
	
</body>
</html>