<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Form Disciplinas e Matrícula</title>
</head>
<body>
	<h2>
		Cadastro de Disciplinas e Matrícula de Estudantes
	</h2>
	<form method="post">
		ID: <input type="text" value="" name="id"/> <br>
		Nome: <input type="text" value="" name="nome"/> <br>
		Professor: <input type="text" value="" name="professor"/> <br>
		Dia da semana: <select name="dia">
    	<option value="Segunda-feira">Segunda-feira</option>
    	<option value="Terça-feira">Terça-feira</option>
    	<option value="Quarta-feira">Quarta-feira</option>
    	<option value="Quinta-feira">Quinta-feira</option>
    	<option value="Sexta-feira">Sexta-feira</option>
    	</select> <br>
		Horário: <select name="horario">
    	<option value="7:00 - 9:40">7:00 - 9:40</option>
    	<option value="9:50 - 12:30">9:50 - 12:30</option>
    	</select> <br>
		Estudantes: <input type="text" value="" name="estudantes"/> <br>
		<button type="submit">Salvar</button>
	
	</form>
</body>
</html>